<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>launch-port-snippet</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{EXE_PATH}}</string>
        <string>AUTO_LAUNCH</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>{{LOG_FILE_PATH}}</string>
    <key>StandardErrorPath</key>
    <string>{{ERROR_LOG_FILE_PATH}}</string>
</dict>
</plist>